.anchors {
  color: white;

}

.anchor-box {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.fab {
  position: fixed;
  z-index: 3;
  right: 2em;
  bottom: 2em;
}

.home {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.img-fit {
  object-fit: cover;
  height: 20rem;
}